.form {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/background.png");
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.heading {
  display: inline-block;
  padding: 15px 20px;
  cursor: pointer;
}
.heading:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.heading:hover:after {
  width: 100%;
  left: 0;
}
@media screen and (min-width: 480px) {
  .box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
}

@media screen and (max-width: 480px) {
  .box {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
}
