.App {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./images/background.png");
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
